.paragraph {
    background-color: rgb(250, 42, 85);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.enlarged {
    font-size: 24px;
}

#first-div {
    color: rgb(35, 122, 252);
    font-size: 36px;
}

#second-div {
    background-color: rgb(173, 234, 177);
    font-size: 24px;
    font-weight: bold;
}