@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  height: 30px;
  padding: 0 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  gap: 15px;
  font-size: 13px;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 5px;
}